<?xml version="1.0"?>
<clickhouse>
    <display_name replace="replace">fieldsets-store</display_name>
    <http_port replace="replace">8123</http_port>
    <tcp_port replace="replace">9000</tcp_port>
    <interserver_http_port replace="replace">9009</interserver_http_port>

    <!-- Sources to read users, roles, access rights, profiles of settings, quotas. -->
    <user_directories>
        <users_xml replace="replace">
            <!-- Path to configuration file with predefined users. -->
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <!-- Path to folder where users created by SQL commands are stored. -->
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>

    <!-- Default profile of settings. -->
    <default_profile replace="replace">default</default_profile>

    <!-- Comma-separated list of prefixes for user-defined settings. -->
    <custom_settings_prefixes replace="replace">fieldsets_</custom_settings_prefixes>
    <default_database replace="replace" from_env="CLICKHOUSE_DB"/>

    <timezone replace="replace" from_env="TIMEZONE" />
    <listen_host replace="replace">::</listen_host>
    <listen_try replace="replace">1</listen_try>

    <remote_url_allow_hosts replace="replace">
        <host>127.0.0.1</host>
        <host from_env="FIELDSETS_STORE_HOST"/>
        <host from_env="FIELDSETS_LOCAL_HOST"/>
        <host from_env="FIELDSETS_DB_HOST"/>
        <host from_env="FIELDSETS_CACHE_HOST"/>
        <host>0.0.0.0</host>
    </remote_url_allow_hosts>
    <!-- Uncomment to disable ClickHouse internal DNS caching. -->
    <disable_internal_dns_cache>1</disable_internal_dns_cache>
</clickhouse>
