#!/usr/bin/env bash
# Copy this file to .env in this directory. These are all default values (unless specified in an adjacent comment otherwise) and will be set even if not defined in .env

# Fieldsets Data Pipeline Environment
VERSION=latest
ENVIRONMENT=dev-local

# Clickhouse Configuration Files & Info
CLICKHOUSE_CONFIG_PATH=./
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=fieldsets
CLICKHOUSE_HOST=172.28.0.5
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=fieldsets

CLICKHOUSE_VERSION=24

# Fieldsets Postgres Database
FIELDSETS_DB=postgres
FIELDSETS_DB_USER=postgres
FIELDSETS_DB_PASSWORD=fieldsets
FIELDSETS_DB_HOST=172.28.0.7
FIELDSETS_DB_PORT=5432
FIELDSETS_DB_NAME=fieldsets
FIELDSETS_DB_SCHEMA=fieldsets

FIELDSETS_DB_VERSION=16

# Valid Time Zone strings found here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TIMEZONE=America/New_York

# Fieldsets Network Configuration
FIELDSETS_NETWORK_SUBNET=172.28.0.0/24